.group-icon{
    text-align: right;
    float: right;
}
.admin-workarea{
    padding:2%;
}
.time-input-label.pad-left{
    padding-left:10px;
}
.event-input{
    width:70%;
}
.row-submit-btn{
    /* margin-top:10px; */
    text-align: center;
}
.submit-btn{
    margin: 0 auto;
    width:30%;
}
.submit-add-btn{
    margin: 0 auto;
    width:40%;
}
.delete-btn{
    color: #048C8A;
    cursor: pointer;
}
.dynamic-delete-button{
    padding:12px;
    vertical-align: sub;
}

.div-item{
    margin-bottom: 10px;
}
.item-group{
    cursor:pointer;
}
span.item-span{
    font-family: 'sarabun';
    font-size:20px;
    white-space: pre-wrap;
}
.input-label{
    vertical-align: top;
    padding: 7px 5px;
    display:inline-block;
}
span.outdate{
    color: #F06050;
}
span.upcoming{
    color: #00C7AB;
}

.ant-select-selection-selected-value{
    font-family: 'sarabun';
    font-size:18px;
}
.radio-set{
    margin-bottom:10px;
}
div .ant-row.ant-form-item{
    margin-bottom: 0px;
}
.year-blog{
    margin-bottom: 30px;
    text-align: center;
}
.delete-text{
    color:red;
    cursor: pointer;
}
.btn-newas{
    margin-right: 10px;
}
.input-add-option{
    border:none;
    display:inline;
    width:50%
}