.header-feed{
    background:linear-gradient( rgba(4, 140, 138, 0.81) 81%,rgba(4, 140, 138, 0.81)81%),url('../img/447.jpg');
    position: absolute;
    top:0;
    height: 360px;
    width:100%;
    background-position-y: 13%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    text-align: center;
    color:white;
    vertical-align: middle;
} 
.feed-head-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.feed-content{
    position: absolute;
    top:360px;
}
.announce-content{
    white-space: pre-wrap;
}
.feed-logo{
    font-weight: bold;
    font-size: 30px;
} 
.feed-title{
    font-size: 20px;
    margin: 10px 0px;
}
.announce-topic{
    font-weight: bold;
    margin-bottom: 5px;
}
.set-of-company{
    margin-top: 10px;
}
.feed-company-name{
    margin-right: 5px;
}
.job-desc-tag{
    color: #bebebe;
    /* color:white; */
    text-transform: uppercase;
    font-size:12px;
}
div.tag-check{
    background-color: #bebebe;
    color:white;
}
div.tag-check.ant-tag-checkable-checked{
    background-color: #F06050;
}
div.tag-check.ant-tag-checkable:hover{
    color: #F06050;
}
div.ant-tag-checkable:not(.ant-tag-checkable-checked):hover{
    background-color: #bebebe;
}
div.tag-check.ant-tag-checkable.tag-check.ant-tag-checkable-checked{
    color:white;
}
/* div.tag-check.ant-tag-checkable.ant-tag-checkable-checked::selection{
    background: #F06050;
} */
/* event */
.all-event{
    height:auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.event-block{
    display: inline-block;
    position: relative;
    justify-content: flex-start;
    /* height: 280px; */
    width: 300px;
    border:1px solid #d9d9d9;
    border-radius: 10px;
    padding: 10px 25px;
    margin-right:10px;
    vertical-align:top
}
.event-color-tab{
    position: absolute;
    width:9px;
    height: 50px;
    top:25px;
    left:0px;
}

.event-date{
    font-size: 70px;
    font-weight: bold;
    line-height: 85px;
}
.event-month{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top:10px;    
    display: block;
}
.event-name{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}
Button.event-btn{
    text-transform: uppercase;
    color:white;
    border:none;
    position:absolute;
    bottom: 20px;
    width: 83%;
}
Button.event-btn.clicked{
    background-color: transparent;
}
Button.event-btn i.material-icons::after{
    content: "star_border"
}
Button.event-btn.clicked i.material-icons::after{
    content: "check"
}
.event-place{
    display: block;
    /* margin-bottom:5px; */
}
.people-event-interest{
    padding:5px 0px;
    display: block;
    margin-bottom:8px;
}
.event-btn i.material-icons{
    font-size: medium;
    vertical-align: text-bottom;
}

/* color zone */
.job-desc-tag.pink{
    background-color: #F06050;
}
.pink .event-color-tab, .pink .event-btn{
    background-color: #F06050;
}
.pink .event-btn:hover,.pink .event-btn.clicked{
    color:#F06050;
    border: 1px solid #F06050;
}
.orange .event-color-tab, .orange .event-btn{
    background-color: #EF9033;
}
.orange .event-btn:hover,.orange .event-btn.clicked , .orange .event-btn:focus{
    color:#EF9033;
    border: 1px solid #EF9033;
}
.green .event-color-tab, .green .event-btn{
    background-color: #00C7AB;
}
.green .event-btn:hover,.green .event-btn.clicked , .green .event-btn:focus{
    color:#00C7AB;
    border: 1px solid #00C7AB;
}
.blue .event-color-tab, .blue .event-btn{
    background-color: #415C71;
}
.blue .event-btn:hover, .blue .event-btn:focus{
    color:#415C71;
    border: 1px solid #415C71;
}