
.input-label{
    vertical-align: top;
    padding: 7px 5px;
    display: inline-block;
}
.event-input{
    margin-top: 8px;
    padding-top: 8px;
    margin-right: 30px;
}
.date-input{
    padding-top: 8px;
}
.label-center{
    text-align: center;
}
.tab{
    margin-left: 20px;
}
.date-input .anticon > * {
    margin-top: 3px;
}
.align-right-signature{
    margin-right: 30px;
}
.border-form-5{
    border: 1px solid #d9d9d9;
    padding: 20px;
}
.border-form-5-title{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
}
.sup-label-box{
    width: 83%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
}
.sup-score-box{
    width: 15%;
    display: inline-block;
}
input.sup-score-input{
    height: 50px;
    font-size: 45px;
    text-align: center;
}
.sup-set{
    padding: 30px 0px;
    border-bottom: 1px dashed #d9d9d9;
}
.sup-label{
    line-height: 1.5;
}
.border-form-5-comments-box{
    border: 1px solid #d9d9d9;
    padding: 20px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.border-form-5-comments-title{
    padding-bottom: 20px;
}
.border-form-5-comments-box.none-border-left{
    border-left: none;
}
.border-form-5-staff{
    border: 1px solid #d9d9d9;
    padding: 20px;
    width: 40%;
}
.update-deadline-form{
    background-color: #048C8A;
    color:white;
    margin-left: 10px;
    border:none;
}
.breadcrumb-admin,.breadcrumb-admin a{

    font-family: 'sarabun';
    font-size:18px;
}