.header{
    padding: 10px;
    height: 50px;
}
.not-index{
    background-color: white;
}
.web-logo{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top:0;
    left:0;
}
.not-index .web-logo{
    color: #048C8A;
}
.nav{
    position: absolute;
    right:10px;
}
.nav-menu{
    height:30px;
    padding: 3px 15px 0px 15px;
}
.divider{
    font-size: xx-large;
}
.nav-menu:hover{
    color:#EF9033;
}
.not-index .nav-menu{
    color: #002B33;

}
.not-index span{
    color: #002B33;
}
.not-index .divider{
    color: white;
    /* font-size: xx-large; */

}
.login-btn{
    border-radius: 5px;
    padding: 5px 12px;
    color: #048C8A;
    border: 1px solid #048C8A;
    cursor:pointer;
}
.not-index{
    border-bottom: 1px solid #707070
}
.username{
    color:white;
    padding: 3px;
}

/* for feed */

.index.header{
    background-color: transparent;
    border:0px;
}
.index .header,.web-logo,.nav-menu {
    color:white;
}
.index .divider{
    color: #707070;
}
.index .login-btn{
    color:white;
    border: 1px solid white;
}
.ant-col-15.ant-col-offset-3{
    text-align: right;
}
.nav{
    display: block;
}
.nav-small{
    display:none;
}
.nav-small-icon{
    font-size: 20px;
}

@media only screen and (max-width: 766px) {
    .nav{
        display: none;
    }
    .nav-small{
        display:block;
        position: absolute;
        right:0;
    }
}

@media only screen and (max-width: 490px) {
    .nav-small-icon{
        font-size: 15px;
    }
    .nav-menu{
        height:30px;
        padding: 3px 10px 0px 10px;
    }
    .divider{
        display: none;
    }
    .container{
        padding: 10;
    }
    .web-logo{
        padding-top: 6px;
        font-size: 15px;
    }
    
}