.header{
    padding: 10px;
    height: 55px;
}
.not-index{
    background-color: white;
}
.web-logo{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.not-index .web-logo{
    color: #048C8A;
}
.nav{
    position: absolute;
    right:10px;
}
.nav-menu{
    height:30px;
    padding: 0px 30px;
}
.not-index .nav-menu{
    color: #002B33;
}
.not-index .divider{
    color: white;
}
.login-btn{
    border-radius: 5px;
    padding: 5px 10px;
    color: #048C8A;
    border: 1px solid #048C8A;
}
.not-index{
    border-bottom: 1px solid #707070
}


/* for feed */

.index.header{
    background-color: transparent;
    border:0px;
}
.index .header,.web-logo,.nav-menu {
    color:white;
}
.index .divider{
    color: #707070;
}
.index .login-btn{
    color:white;
    border: 1px solid white;
}