
i.material-icons {
    vertical-align: bottom;
}
i.fa{
    vertical-align: baseline;
}
.filter-topic{
    margin-top: 15px;
    display: block;
    font-weight: 500;
}
.filter-topic:first-child{
    margin:0px
}
.form-check-label{
    font-size: 20px;
    font-family: 'sarabun';
}
.company-logo{
    display: inline-block;
}
.company{
    padding-top: 20px;
} 
.star-ratings{
    display:inline-block;
    text-align: right;
}
.tag-check{
    text-transform: uppercase;
}
.trans-tag{
    background-color: #bebebe;
    color:white;
    text-transform: uppercase;
}
.review-container{
    padding: 30px;
}
.sort-name{
    margin-right:10px;
}
.sort-select{
    font-size:16px;
}
.input-search{
    width:100%;
}

div.tag-check.ant-tag-checkable-checked{
    background-color: #048C8A;
}
div.tag-check.ant-tag-checkable:hover{
    color: #048C8A;
}