
i.material-icons {
    vertical-align: bottom;
}
i.fa{
    vertical-align: baseline;
}
.filter-topic{
    margin-top: 15px;
    display: block;
    font-weight: 500;
}
.filter-topic:first-child{
    margin:0px
}
.form-check-label{
    font-size: 20px;
    font-family: 'sarabun';
}
.company-logo{
    display: inline-block;
    background-color: #c0c0c0;
    text-decoration: none;
}
.rv.company-logo{
    display: block;
    width: 80%;
    max-width: 150px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}
.rv.company{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
}
.company{
    padding-top: 20px;
} 
.star-ratings{
    display:inline-block;
    text-align: right;
}
.tag-check{
    text-transform: uppercase;
}
.trans-tag{
    background-color: #bebebe;
    color:white;
    text-transform: uppercase;
}
.review-container{
    padding: 30px;
}
.sort{
    width: 400px;
    position: absolute;
    right: 30px;
}
.ant-select-selection-selected-value{
    width: 100px;
}
.sort-name{
    margin-right:10px;
}
.sort-select{
    font-size:16px;
}
.input-search{
    width:100%;
}

div.tag-check.ant-tag-checkable-checked{
    background-color: #048C8A;
}
div.tag-check.ant-tag-checkable:hover{
    color: #048C8A;
}
div.tag-check.ant-tag-checkable{
    font-size:16px;
}
.rv.mrt{
    background-color: #F06050;
}
.rv.bts{
    background-color: #00C7AB;
}
.rv.bus{
    background-color: #415C71;
}
.menu-header span{
    vertical-align:-webkit-baseline-middle;
}
.menu-clear{
    background-color: #048C8A;
    color:white;
    border:0.8px solid white;
    right:10px;
    position:absolute;
}
.menu-clear:hover{
    background-color: white;
    color: #048C8A;
    border-color: #048C8A;
}

@media only screen and (min-width: 861px) {
    .cut-less-than-861{
        display: none
    }
    .cut-more-tham-861{
        display: block;
    }
}

@media only screen and (max-width: 860px) {
    .col-menu{
        display: none;
    }
    .cut-less-than-861{
        display: block;
    }
    .cut-more-than-861{
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    .col-menu{
        display: none;
    }
}

@media only screen and (max-width: 486px) {
    .col-menu{
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .col-menu{
        display: none;
    }
    .review-container{
        position: absolute;
        left: 10;
    }
}