.container{
    padding: 20px;
}
.short-desc{
    padding:15px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    height:100%;
}
.company-name { 
    font-size: 22px;
    font-weight: bold;
}
.company-logo{
    display: block;
    width: 85%;
    height:100px;
    margin: 10px auto;
}
.job-desc{
    margin-bottom: 15px;
}
.review-topic{
    margin:15px 0px;
}
.transport{
    margin-right:10px;
}
.card-header{
    padding:0px;
}
.btn-link{
    vertical-align: super;
}
.cpe-tag{
    background-color: #F06050;
    color:white;
}
.ske-tag{
    background-color: #415C71;
    color:white;
}
.trans-detail,.intern-name{
    display: inline-block;
    margin-top:10px;
    margin-bottom: 0;
}
.previous-intern-year{
    margin-bottom: 10px;
}
.comment-block{
    border-radius: 10px;
    border:1px solid #d9d9d9;
    padding: 10px;
    margin-bottom: 10px;
}
.comment-content{
    display: inline-block;
    margin-left: 10px
}
.comment-img{
    width:70px;
    height: 70px;
    vertical-align: top;
    border-radius: 50%;
}